body{
    font-family: impact,courier, times;
    font-size: 15px;
    line-height: 1.5;
    padding:0;
    margin:0;
    background-color:red;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

ul{
    margin:0;
    padding:0;
}

.dark{
    padding:15px;
    background:black;
    color:red;
    margin-top:10px;
    margin-bottom:10px;
}

header{
    background:black;
    color:white;
    padding-top:30px;
    min-height:70px;
    border-bottom:black 3px solid; 
}

header a{
    color:white;
    text-decoration:none;
    text-transform:uppercase;
    font-size:16px;
}


header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}

header nav{
    float:right;
    margin-top:10px;
}

iframe{
    width:1;
    height:1;
    visibility:hidden;
}

header .highlight, header .current a{
    color:gold;
    font-weight:bold;
}

header a: hover{
    color:gold;
    font-weight:bold;
}

#showcase{
    margin-top:20px;
    min-height:250px;
    background-image:url('../brand/img/WW2Z.jpg');
    background-position:center;
    background-repeat:no-repeat;
    text-align:center;
    color:white;
}

#boxes{
    margin-top:20px;
}

#boxes .box{
    float:left;
    text-align:center;
    width:28%;
    padding:10px;
}

#boxes .box img{
    width:90px;
}

aside #sidebar{
    float:right;
    width:30%;
    margin-top:10px;
}

article #main-col{
    float:left;
    width:65%;
}

footer{
    padding:20px;
    margin-top:20px;
    color:black;
    text-align:center;
}